#root {
    /*  */
    height: 100vh;

    /* positioning puzzle & buttons */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* puzzle pieces/tiles */
.tile {
    width: 100px;
    height: 100px;
    background: #35ff64;
    border: 2px solid #222;

    font-size: 2rem;

    /* center text */
    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}

/* zero/blank tile */
#_0 {
    background: #ccc;
    color: #ccc;
    border: none;
    cursor: default;
}

/*  */
#puzzle-container {
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    grid-gap: 2px;
    /*  */
    margin: 24px 0;
}